// Roxlu lib configuration file for XCode.
// -----------------------------------------


// A) Add the configuration settings to your target:
// ----------------------------------------------
// 1) Drag and drop this file into your xcode project
// 2) Select your project in the Project Navigator
// 3) Select a the project in the right pane (with the blue icon, e.g. "emptyExample")
// 4) Select the "Info" panel
// 5) For each of the configurations, select the a target (with the red icon)
// 6) Select "roxlu" from the drop down.


// B) Add the ROXLU_LIBS and ROXLU_INCLUDES 
// --------------------------------------
// 1) Go to the Build Settings of your project
// 2) search for "Other Linker Flags" and add a row with: $(ROXLU_LIBS)
// 3) Search for "Header Search Paths" and add a row with: $(ROXLU_INCLUDES)


// C) SET THE PATH TO THE ROXLU LIB
// -----------------------------
// 1) Select your project in the "Project Navigator"
// 2) Select your target in the right pane and select "Build Settings"
// 3) Scroll down to "User-defined" 
// 4) Drag & Drop the 'root' path to the roxlu lib onto ROXLU_BASE_DIR

// D) TELL ROXLU LIB WHAT FRAMEWORK YOU'RE USING
// ---------------------------------------------
// 1) Select your project in the "Project Navigator"
// 2) Select "Build Settings"
// 3) Select your target (e.g "emptyExample")
// 4) Add this define: ROXLU_GL_WRAPPER=ROXLU_OPENFRAMEWORKS

// GENERAL DEFINES
ROXLU_BASE_DIR=.
ROXLU_EXTERN_LIB_DIR=$(ROXLU_BASE_DIR)/extern/lib/mac/gcc/static/32/
ROXLU_EXTERN_INCLUDE_DIR=$(ROXLU_BASE_DIR)/extern/include/
ROXLU_ADDON_DIR=$(ROXLU_BASE_DIR)/addons/
ROXLU_INCLUDE_DIR=$(ROXLU_BASE_DIR)/lib/include/
REID=$(ROXLU_EXTERN_INCLUDE_DIR)
RELD=$(ROXLU_EXTERN_LIB_DIR)


// TOGGLE ADDONS
#include "../addons/Pango/Pango.xcconfig"
#include "../addons/Curl/Curl.xcconfig"
#include "../addons/FLV/FLV.xcconfig"
#include "../addons/Twitter/Twitter.xcconfig"

ROXLU_LIBS=$(PANGO_LIBS) $(CURL_LIBS) $(FLV_LIBS) $(TWITTER_LIBS)
ROXLU_INCLUDES=$(ROXLU_INCLUDE_DIR) $(PANGO_INCLUDES) $(CURL_INCLUDES) $(FLV_INCLUDES) $(TWITTER_INCLUDES)

